.main{
margin: 10px;
}
.titlebar{
border: solid black 2px;
background-color: #0033cc;
color: #ffffff;
}
footer{
border: solid black 2px;
background-color: #0033cc;
color: #ffffff;
}
.content{
border: solid black 2px;
}
.left{
float: left;
}
.right{
float: right;
margin: 20px;
}
.clear{
clear: all;
}
