.main{
margin: 10px;
}
.titlebar{
border: solid black 2px;
background-color: #0033cc;
color: #ffffff;
text-align: center;
}
footer{
border: solid black 2px;
background-color: #0033cc;
color: #ffffff;
text-align: center;
}
.content{
border: solid black 2px;
}
.left{
float: left;
margin: 20px;
}
.right{
float: right;
margin: 20px;
}
.clear{
clear: both;
}
.titlelink{
color: #ffffff;
text-decoration: none;
}
.titlelink:hover{
color: #ffffff;
text-decoration: underline;
}
